* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#1a1a1a, #333, #666);
}

h1 {
    width: 100%;
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    text-align: center;
}

.stopwatch {
    display: inline-block;
    margin-top: 100px;
}

.outer-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.inner-circle {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    background: linear-gradient(135deg, #00ff99, #0099ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: #fff;
    font-size: 23px;
}

.minute,
.sec,
.msec {
    font-size: 43px;
}

.button-wrapper {
    width: 230px;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
}

.button {
    width: 70px;
    height: 50px;
    border-radius: 30%;
    border: 2px solid #fff;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    margin: 15px;
    margin-bottom: 15px;
    font-size: large;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #00ff99;
}

.laps {
    list-style: none;
    color: #fff;
    width: 250px;
    height: 250px;
    overflow: auto;
    padding: 30px 0;
    margin-top: 30px;
    margin-bottom: 90px;
    margin-left: 50px;
    background-color:none;
    border-radius: 10px;
};

.laps::-webkit-scrollbar {
    display: none;
}

.lap-item {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    margin-bottom: 7px;
    background-color: rgba(255, 255, 255, 0.1);
}

.number {
    color: #00ff99;
}

.time-stamp {
    display: inline-block;
    margin-left: 25px;
    color: #0099ff;
}

.lap-clear-button {
    display: block;
    position: fixed;
    z-index: 1000;
    bottom: 200px;
    width: 100px;
    padding: 15px 0;
    border-radius: 50px;
    background-color: #ff0066;
    color: white;
    border: 1px solid white;
    transform: translate(-50%);
    margin-left: 50%;
    font-size: large;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.lap-clear-button:hover {
    background-color: rgba(255, 0, 102, 0.7);
}

.hidden {
    visibility: hidden;
}